### Add errors you want to be ignored to this file,
### you can enter whole phrases which can be filtered
### by grep command. Use new line for each one.
###
### It is best not to include dots and special characters
### here as blacklist is being processed by grep
### and it might stop working.
This is example of ssh banner I want to ignore
