BRDEXEC_USER=admin_user
#BRDEXEC_USER_SSH_KEY=
BRDEXEC_RUNSHELL=sudo
#
BRDEXEC_SSH_CONNECTION_TIMEOUT=5
BRDEXEC_SCRIPT_RUN_TIMEOUT=30
BRDEXEC_PROCESS_KILL_TIMEOUT=1
BRDEXEC_CTRLC_PROCESS_KILL_TIMEOUT=2
BRDEXEC_REPORT_DISPLAY_ERRORS=yes
BRDEXEC_HUMAN_READABLE_REPORT=yes
BRDEXEC_REPORT_CLEANUP_DAYS=120
LOG_LEVEL=1
